<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../static/styleRegister.css">
  <script src="../static/scriptRegister.js"></script>
</head>
<body>
  <div class="box">
    <h1>Cadastro de cliente</h1>
    <form action="">
      Nome: <input type="text" class="name" name="name" placeholder="Nome">
      Data de Nascimento: <input type="date" class="dateOfBirth" name="dateOfBirth">
      <br>
      Gênero: <input type="radio" class="gender" name="gender" value="Masculino">Masculino
      <input type="radio" class="gender" name="gender" value="Feminino">Feminino<br>
      Rua: <input type="text" class="street" name="street" placeholder="Rua">
      Bairro: <input type="text" class="district" name="district" placeholder="Bairro">
      Número de telefone: <input type="text" class="number" name="number" placeholder="Número de telefone">
      Email: <input type="text" class="email" name="email" placeholder="Email">
      Altura: <input type="text" class="height" name="height" placeholder="Altura">
      Peso: <input type="text" class="weight" name="weight" placeholder="Peso">
      Objetivo: <input type="text" class="fitnessGoals" name="fitnessGoals" placeholder="Objetivo">
      Histórico médico: <input type="text" class="medicalHistory" name="medicalHistory" placeholder="Histórico médico">
      <button>Cadastrar</button>
    </form>



    </form>
  </div>

</body>
</html>